@model UltiSports.Models.Event

@{
    var activitiesDropdown = new SelectList(ViewBag.AllActivities.ToArray());
    var locationsDropdown = new SelectList(ViewBag.AllLocations.ToArray(), "Id", "Name");
}

<h2 style="margin-top: 10px;">Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)

    <fieldset>
        <legend>Edit The Event Of The Day</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Messages)
        @Html.HiddenFor(model => model.PlusOnes)
        @Html.HiddenFor(model => model.Time)
        @Html.HiddenFor(model => model.Attendees)

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>

        <div>
            @Html.DropDownListFor(model => model.Location.Id,
                                  locationsDropdown,
                                  "-- Select A New Locations --")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activity)
        </div>

        <div>
            @Html.DropDownListFor(model => model.Activity.Name,
                              activitiesDropdown,
                              "-- Select A New Activities --")
            @Html.ValidationMessageFor(model => model.Activity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsCanceled)
        </div>

        <div>
            @Html.EditorFor(model => model.IsCanceled)
            @Html.ValidationMessageFor(model => model.IsCanceled)
        </div>

        <p style="margin-top: 10px;">
            <input class="btn btn-primary" type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ManageEventsOfTheDay", "Admin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
