@model SportsHub.Models.Player

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Welcome To The Sports Hub</legend>
        
        <p>
            In order to proceed to the events of the day you are going to have to register as a Player. Don't worry there are no lengthy forms or anything, all we need is your email (to keep you updated about the status of the day's event) and your name (so we can be buddies). <br/><br/>
            I've got a pretty good memory so we'll only have to do this once.
        </p>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-field">
            @Html.HiddenFor(model => model.isActive)
            @Html.ValidationMessageFor(model => model.isActive)
        </div>

        <p style="margin-top: 10px;">
            <input class="btn btn-primary" type="submit" value="Create" />
        </p>
    </fieldset>
}