@using UltiSports.HelperMethods
@using UltiSports.Infrastructure
@model UltiSports.Models.Activity

@{
    ViewBag.Title = "Edit";
    var allLocations = (IEnumerable<UltiSports.Models.Location>)ViewBag.AllLocations;
}

<h2 style="margin-top: 10px;">Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Html.DisplayFor(model => model.Name)</legend>

        @Html.HiddenFor(model => model.Name)

        <div class="editor-label">
            @Html.LabelFor(model => model.PreferredTime)
        </div>
    
        @Html.DropDownListFor(model => model.PreferredTime, DataHelper.GetStandardTimes(), "--Select A Time--")
            @Html.ValidationMessageFor(model => model.PreferredTime)

        <div class="editor-label">
            @Html.LabelFor(model => model.DayOfTheWeek)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.DayOfTheWeek,
                              DataHelper.GetDays(),
                              "-- Select Day Of The Week --")
            @Html.ValidationMessageFor(model => model.DayOfTheWeek)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequiredNumberOfPlayers)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RequiredNumberOfPlayers,
                              DataHelper.GetNumberOfPlayers(10),
                              "-- Select Required Number Of Players --")
            @Html.ValidationMessageFor(model => model.RequiredNumberOfPlayers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecommendedNumberOfPlayers)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RecommendedNumberOfPlayers,
                                  DataHelper.GetNumberOfPlayers(10),
                                  "-- Select Recomended Number Of Players --")
            @Html.ValidationMessageFor(model => model.RecommendedNumberOfPlayers)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.PreferredLocation)
        </div>
        <div>
            @Html.DropDownListFor(model => model.PreferredLocation.Id, DataHelper.GetAllLocations(allLocations),
                                  "-- Select Location --")
            @Html.ValidationMessageFor(model => model.PreferredLocation)
        </div>

        <p style="margin-top: 10px;">
            <input class="btn btn-primary" type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ManageActivities", "Admin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
