@model IEnumerable<SportsHub.Models.Event>

@{
    ViewBag.Title = "Index";
}

<div class="page-header-sport">
    <h5 class="pull-left">sports of the day</h5>
    <span class="date pull-right">@DateTime.Today.ToString("dddd, MMMM dd yyyy")</span>
    <div class="clear"></div>
    <div class="tab-container">
        @foreach (var ev in Model)
        {
            <div class="tab tab-selected">
                <h2>@Html.DisplayFor(modelItem => ev.ActivityName.Name)</h2>
            </div>
        }
        <div class="clear"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        @Html.Partial("_Participants", Model)
        <div>
            @Html.Partial("_Wheather", Model)
        </div>
    </div>
    <div class="col-md-7">
        <div class="nested-row-breaker">
            @Html.Partial("_EventInformation", Model)
            @Html.Partial("_Conversation", Model)
        </div>
    </div>
</div>
