@model IEnumerable<UltiSports.Models.Event>

@{
    ViewBag.Title = "ManageEventsOfTheDay";
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="page-header-sport">
        <div class="row">
            <div class="alert alert-warning">
                <p>
                    <strong>System Says:</strong>
                    @ViewBag.Message
                </p>
            </div>
        </div>
    </div>
}<br/>
<h5 class="pull-left">Administration Suite</h5>
<span class="date pull-right">@DateTime.Today.ToString("dddd, MMMM dd yyyy")</span>
<div class="clear"></div>
<div class="tab-container">
    <div class="tab">
        <h2>@Html.ActionLink("Activities", "ManageActivities", "Admin")</h2>
    </div>
    <div class="tab">
            <h2>@Html.ActionLink("Players", "ManagePlayers", "Admin")</h2>
        </div>
    <div class="tab">
        <h2>@Html.ActionLink("Locations", "ManageLocations", "Admin")</h2>
    </div>
    <div class="tab tab-selected">
        <h2>@Html.ActionLink("Today's Events", "ManageEventsOfTheDay", "Admin")</h2>
    </div>
    <div class="clear"></div>
</div>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activity.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Name)
        </th>
        <th>Messages
        </th>
        <th>Players
        </th>
        <th>Time
        </th>
        <th>Canceled
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Messages.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendees.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCanceled)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", "EventOfTheDay", new { id = item.Id }, null) |
                @Html.ActionLink("Cancel", "Cancel", "EventOfTheDay", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>