@model IEnumerable<SportsHub.Models.Event>

@{
    ViewBag.Title = "ManageEventsOfTheDay";
}

<h2 style="margin-top: 10px;">Manage Events Of The Day</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activity.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Name)
        </th>
        <th>Messages
        </th>
        <th>Plus Ones
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Messages.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlusOnes.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Event", new { id = item.Id }, null)
                @Html.ActionLink("Delete", "Delete", "Event", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>