@using UltiSports.Models
@model IEnumerable<UltiSports.Models.Event>

@{
    ViewBag.Title = "Index";
    var selectedTabClass = "tab-selected";
    var hideClass = "hide";
}

@if (Model.Any())
{
    <div class="page-header-sport">
        @if (!String.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="page-header-sport">
                <div class="row" style="margin-bottom: -40px;">
                    <div class="alert alert-warning">
                        <p>
                            <strong>System Says:</strong>
                            @ViewBag.Message
                        </p>
                    </div>
                </div>
            </div>
        }
        <h5 class="pull-left">sports of the day</h5>
        <span class="date pull-right">@DateTime.Today.ToString("dddd, MMMM dd yyyy")</span>
        <div class="clear"></div>
        <div class="tab-container">
            @foreach (Event ev in Model)
            {
                <div class="tab @if (ev.Id == Model.ToList()[0].Id)
                                {
                                    @selectedTabClass
                                }" id ="event-@ev.Id-tab">
                    <h2>@Html.DisplayFor(modelItem => ev.Activity.Name)</h2>
                </div>
            }
            <div class="clear"></div>
        </div>
    </div>
            foreach (Event ev in Model)
            {
    <div class="event-container row @if (ev.Id != Model.ToList()[0].Id)
                                    {
                                            @hideClass;
                                    }" id="event-@ev.Id-container">
        <div class="col-md-5">
            @Html.Partial("_Participants", ev)
            <div>
                @Html.Partial("_Wheather", ev)
            </div>
        </div>
        <div class="col-md-7">
            <div class="nested-row-breaker">
                @Html.Partial("_EventInformation", ev)
                @Html.Partial("_Comments", ev)
            </div>
        </div>
    </div>
            }
}
else
{
    <h1 style="padding: 20px;">There are no activities today, have a great day!</h1>
}
