<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Sports Hub</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
	</head>
	<body class="wrapper">
		<div class="banner">
			<div class="container">
				<div>
					<span class="user-welcome pull-right">Welcome, @User.Identity.Name</span>
				</div>
				<div class="clear">
					<h1 class="title pull-left">custom Hub</h1>
					<div class="img-container pull-right">
						<img src="@Url.Content("~/Content/Images/custom_banner.png")" alt="custom_banner" />
					</div>
				</div>
			</div> 
		</div>
		<div class="container contents">
            @RenderBody()
		</div>
		<div class="container">
			<div class="footer">
				<span>Custom Use &copy; 2013</span>
			</div>
		</div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script>
            $('textarea').each(function () {
                $(this).data('default', this.value);
            }).focusin(function () {
                if (this.value == $(this).data('default')) {
                    this.value = '';
                }
            }).focusout(function () {
                if (this.value == '') {
                    this.value = $(this).data('default');
                }
            });
    </script> 
	</body>
</html>
