<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Sports Hub</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="wrapper">
    <div class="banner">
        <div class="container">
            <div>
                <span class="user-welcome pull-right">Welcome, @User.Identity.Name</span>
            </div>
            <div class="clear">
                <h1 class="title pull-left"><a href="~/" style="color: white;">Sports Hub</a></h1>
                <div class="img-container pull-right">
                    <img src="@Url.Content("~/Content/img/ultisports_banner.png")" alt="custom_banner" />
                </div>
            </div>
        </div>
    </div>
    <div class="container contents" style="margin-top: 50px;">
        @RenderBody()
    </div>
    <div class="container">
        <div class="footer">
            <span>Event Hub - Alpha Version &copy; 2013 - @Html.ActionLink("Administrator", "ManageActivities", "Admin")</span>
        </div>
    </div>
    @Scripts.Render("~/bundles/otf")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script>
        $('textarea').each(function () {
            $(this).data('default', this.value);
        }).focusin(function () {
            if (this.value == $(this).data('default')) {
                this.value = '';
            }
        }).focusout(function () {
            if (this.value == '') {
                this.value = $(this).data('default');
            }
        });
        
        $('#plusOneName').each(function () {
            $(this).data('default', this.value);
        }).focusin(function () {
            if (this.value == $(this).data('default')) {
                this.value = '';
            }
        }).focusout(function () {
            if (this.value == '') {
                this.value = $(this).data('default');
            }
        });

        //Modal For AddPlusOne
        $(document).ready(function () {
            $('#AddPlusOne').on('click', function () {
                $('#AddPlusOneModal').slideDown();
            });
        });

        $(document).ready(function () {
            $('#closeModal').on('click', function () {
                $('#AddPlusOneModal').slideUp();
            });
        });
        
        $(document).ready(function () {
            $('#closeModalX').on('click', function () {
                $('#AddPlusOneModal').slideUp();
            });
        });
        
        $(document).ready(function () {
            $('.tab').on('click', function () {
                var tabId = $(this).attr('id');
                toggleTab(tabId);
            });
        });
        
        //Modal For ConfirmDelete
        $(document).ready(function () {
            $('#ConfirmDelete').on('click', function () {
                $('#ConfirmDeleteModal').slideDown();
            });
        });

        $(document).ready(function () {
            $('#closeModal').on('click', function () {
                $('#ConfirmDeleteModal').slideUp();
            });
        });

        $(document).ready(function () {
            $('.tab').on('click', function () {
                var tabId = $(this).attr('id');
                toggleTab(tabId);
            });
        });

        function toggleTab(tabId) {
            if (!$("#" + tabId).hasClass("tab-selected")) {
                $(".tab").removeClass("tab-selected");
                $("#" + tabId).addClass("tab-selected");

                var tabContainerId = tabId.substring(0, tabId.lastIndexOf("-")) + "-container"; 
                $(".event-container").each(function () {
                    if (!$(this).hasClass("hide")) {
                        $(this).addClass("hide");
                    }
                });
                $("#" + tabContainerId).removeClass("hide");
            }
        }
        
        //Issue with Time Code Selector
    //$(document).ready(function () {
    //    $('#PreferredTimeSelect').change(function () {
    //        var time = $(this).val().split(":");
    //        var hours = new Date();
    //        hours.setHours(time[0]);
    //        hours.setMinutes(time[1]);
    //        alert(hours.toDateString());

    //        $("#PreferredTime").val("01/01/12");
    //        // $("#PreferredTime").val(hours.toDateString() + " " + hours.toTimeString());
    //    //});
    //});
    </script>
</body>
</html>
