@model SportsHub.Models.Event

<div id="participants">
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    <span>participants</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Attendees != null)
            {
                foreach (var attendee in Model.Attendees)
                {
                    <tr>
                        <td>
                            <span>@Html.DisplayFor(modelItem => attendee.Player.Name)</span>
                        </td>
                    </tr>
                    
                }
            }
            @if (Model.PlusOnes != null)
            {
                foreach (var plusOne in Model.PlusOnes)
                {
                    <tr>
                        <td>
                            <span>@Html.DisplayFor(modelItem => plusOne.Name)</span>
                            <span class="plus-one">(@Html.DisplayFor(modelItem => plusOne.Host.Name)'s +1)</span>
                            @Html.BootstrapRemovePlusOneButton(Model.Id, plusOne.Id)
                        </td>
                    </tr>
                }
            }
            @if ((Model.Attendees == null || Model.Attendees.Count == 0) && (Model.PlusOnes == null || Model.PlusOnes.Count == 0))
            {
                <tr>
                    <td>
                        <span class="label-empty">No players have joined today's sport.</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pull-right">
        @Html.BootstrapCustomizableButtonActionLink("btn btn-custom btn-leave", "LeaveEvent", "Attendance", Model.Id, "Leave")
        <a id="AddPlusOne" class="btn btn-custom btn-plus-one">Add +1</a>
        @Html.BootstrapCustomizableButtonActionLink("btn btn-custom btn-join", "AttendEvent", "Attendance", Model.Id, "Join")
    </div>
    <div class="clear"></div>
</div>
@using (Html.BeginForm("AddPlusOne", "Attendance"))
{
    <div class="modal" id="AddPlusOneModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="closeModalX" type="button" class="close">&times;</button>
                    <h4 class="modal-title">Would you like to add a plus one?</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control input-sm" id="plusOneName" name="plusOneName" type="text" value="Guest"/>
                    <input type="hidden" name="eventId" value="@Model.Id"/>
                </div>
                <div class="modal-footer">
                    <button id="closeModal" type="button" class="btn btn-default">Close</button>
                    <button type="submit" class="btn btn-primary">Add Plus One</button>
                </div>
            </div>
        </div>
    </div>
}